<html>
    <head>
      {% if title %}
      <title>{{ title }} - ODVapp</title>
      {% else %}
      <title>Welcome to ODVapp!</title>
      {% endif %}
    </head>
    <body>
        <div> ODVapp: <a href="{{ url_for('index') }}">Home</a>
                      <a href="{{ url_for('gallery') }}">Gallery</a>
                  {% if current_user.is_anonymous %}
                      <a href="{{ url_for('login') }}">Login</a>
                      {% else %}
                      <a href="{{ url_for('plotform') }}">PlotForm</a>
                      <a href="{{ url_for('mapview') }}">Map View</a>
                      
                      <a href="{{ url_for('logout') }}">Logout</a>
                      {% endif %}
    </div>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>